asgiref==3.8.1
click==8.1.7
Django==5.0.4
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==24.2
django-redis==5.4.0
django-rq==2.10.2
djangorestframework==3.15.1
Markdown==3.6
python-dotenv==1.0.1
redis==5.0.3
rq===1.15.1
rq-win @ git+https://github.com/michaelbrooks/rq-win.git@c6e65e38f8a6ca99a0c8e0dd6fe35f9b92837cca
sqlparse==0.4.4
tzdata==2024.1
